# Requirements for building documentation

# Sphinx, etc.
sphinx~=5.3.0
myst-parser~=0.18.1
sphinx-argparse~=0.3.1
sphinx-rtd-theme~=1.1.1
texttable~=1.6.7

# hypnotoad dependencies - which is used to generate options documentation
boututils~=0.1.7
dill~=0.3,!=0.3.5,!=0.3.5.1
func_timeout~=4.3
matplotlib~=3.2
netCDF4~=1.5
numpy~=1.18
optionsfactory~=1.0.11
PyYAML>=5.1
scipy~=1.6
Qt.py~=1.2
